#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000; /* Fondo del contenedor, ajusta según tus preferencias */
}

/* Opcional: Estilo adicional para el contenido de la página */
.container {
  position: relative;
  z-index: 1;
}
