.tex-center {
  background-color:#fff;
  padding: 10px;
}

.tex-center h2 {
  font-size: 24px;
  color: #333;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 5px;
  margin-top: 5px;
}

.tex-center h4 {
  font-size: 20px;
  color: #666;
  line-height: 1.5;
  padding: 10px;
  text-align: center;
}

.tex-center p {
  font-size: 20px;
  color: #666;
  line-height: 1.5;
  padding: 10px;
  text-align: left;
}
