/* Estilos para las secciones */
section {
  background-color: #fff;
  padding: 2rem 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
}

section h2 {
  font-size: 24px;
  color: #333;
  text-align: left;
  text-transform: uppercase;
}

section p {
  font-size: 20px;
  color: #666;
  line-height: 1.5;
}
