/* Estilos para las secciones */
section {
  background-color: #fff;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

section h2 {
  font-size: 24px;
  color: #333;
  text-align: left;
  text-transform: uppercase;
}

section p {
  font-size: 16px;
  color: #666;
  line-height: 1.5;
}
