<section>
  <div class="nav-box">
    <div class="nav-item" tabindex="0">
      <a
        [routerLink]="'/'"
        [routerLinkActive]="'active-link'"
        [routerLinkActiveOptions]="{ exact: true }"
        class="block navigation-link"
        aria-current="page"
      >Home</a>
    </div>
    <div class="nav-item" tabindex="0">
      <a
        [routerLink]="'/portfolio'"
        [routerLinkActive]="'active-link'"
        [routerLinkActiveOptions]="{ exact: true }"
        class="block navigation-link"
        aria-current="page"
      >Portfolio</a>
    </div>
    <div class="nav-item" tabindex="0">
      <a
        [routerLink]="'/resume'"
        [routerLinkActive]="'active-link'"
        [routerLinkActiveOptions]="{ exact: true }"
        class="block navigation-link"
        aria-current="page"
      >Resume</a>
    </div>
    <div class="nav-item" tabindex="0">
      <a
        [routerLink]="'/contact'"
        [routerLinkActive]="'active-link'"
        [routerLinkActiveOptions]="{ exact: true }"
        class="block navigation-link"
        aria-current="page"
      >Contact</a>
    </div>
  </div>
</section>
