.pills-box {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-top: 35px
}

.pills-item {
  color: #794999;
  border-radius: 16px;
  cursor: pointer;
  margin-right: 15px;
  margin-bottom: 25px;
  padding: 3px 0;
  transition: all ease .2s
}

.pills-item:hover {
  color: #fff;
  padding: 3px 8px;
  background-color: #713499
}

.pills-item a {
  font-size: 28px;
}
