.tag {
  padding: 0 20px;
  height: 30px;
  font-size: 14px;
  line-height: 30px;
  border-radius: 25px;
  background-color: blue;
  color: white;
  margin-right: 8px;
}

.card-body {
  background-color:#fff;
  padding: 10px;
}

.card-body h5 {
  font-size: 24px;
  color: #333;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 5px;
  margin-top: 5px;
}

.card-body p {
  font-size: 20px;
  color: #666;
  line-height: 1.5;
  padding: 10px;
  text-align: left;
}
