/* You can add global styles to this file, and also import other style files */
body {
  font-family: Arial, sans-serif;
}

.container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
  max-width: 100%;
  min-width: 100%;
}

element.style {
  border-top-width: 12px;
  margin-top: 12px;
}
