body {
  margin: 0;
  padding: 0;
}

.bg-white {
  background-color: #fff;
}

.h-screen {
  height: 100vh;
}

.w-screen {
  width: 100vw;
}

.p-10 {
  padding: 2.5rem;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.max-w-screen-sm {
  max-width: 24rem;
}

.text-center {
  text-align: center;
}

.mb-4 {
  margin-bottom: 1rem;
}

.text-7xl {
  font-size: 5rem;
}

.tracking-tight {
  letter-spacing: -0.01562em;
}

.font-extrabold {
  font-weight: 800;
}

.text-primary-600 {
  color: #4a5568;
}

.text-3xl {
  font-size: 1.875rem;
}

.font-bold {
  font-weight: 700;
}

.text-gray-900 {
  color: #1a202c;
}

.md-text-4xl {
  font-size: 2.25rem;
}

.text-lg {
  font-size: 1.125rem;
}

.font-light {
  font-weight: 300;
}

.text-gray-500 {
  color: #718096;
}

.bg-blue-600 {
  background-color: #3182ce;
}

.text-white {
  color: #fff;
}

.hover-bg-blue-800:hover {
  background-color: #2b6cb0;
}

.focus-ring-4:focus {
  outline: none;
  box-shadow: 0 0 0 2px #63b3ed;
}

.focus-outline-none:focus {
  outline: none;
}

.focus-ring-blues-300:focus {
  box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5);
}

.font-medium {
  font-weight: 500;
}

.rounded-lg {
  border-radius: 0.375rem;
}

.text-sm {
  font-size: 0.875rem;
}

.px-5 {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.py-2-5 {
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
}

.my-4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
